<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Hello Pydeck</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
   </head>
   <body>
      <section class="section">
         <div class="container">
         <div class="columns">
            <div class="column is-half">
               <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque enim enim, convallis ultrices pretium vitae, feugiat id tellus. Ut aliquam viverra accumsan. Curabitur dolor tortor, dignissim vel dapibus at, cursus eget eros. Donec et vulputate tellus, maximus suscipit nibh. Nunc euismod sem vel mi sollicitudin tristique. Nullam a nisi maximus, imperdiet lorem quis, venenatis eros. Vestibulum molestie velit turpis, sed pharetra nunc hendrerit eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis orci in eros scelerisque vulputate. Morbi in quam nulla. Aliquam dui mi, elementum sed neque non, tempus venenatis diam. Nunc egestas ac elit sed placerat. Nulla pharetra purus sed nulla vestibulum congue. Vivamus rhoncus metus eget porta rutrum. Donec commodo purus et placerat euismod. Vivamus efficitur metus vitae dolor hendrerit tincidunt.
               </p>
            </div>
            <div class="column is-half">
               {{first | safe}}
            </div>
         </div>
      </section>
   </body>
</html>